catalog-service/src/main/resources/CatalogService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="CatalogService"
    targetNamespace="http://catalog.globalbooks.com/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://catalog.globalbooks.com/"
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <!-- Types -->
    <types>
        <xsd:schema targetNamespace="http://catalog.globalbooks.com/">
            <xsd:element name="GetBookRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="isbn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="GetBookResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="book" type="tns:Book"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="SearchBooksRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="title" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="author" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="category" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="maxPrice" type="xsd:decimal" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="SearchBooksResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="books" type="tns:BookArray"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="Book">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:string"/>
                    <xsd:element name="isbn" type="xsd:string"/>
                    <xsd:element name="title" type="xsd:string"/>
                    <xsd:element name="author" type="xsd:string"/>
                    <xsd:element name="category" type="xsd:string"/>
                    <xsd:element name="price" type="xsd:decimal"/>
                    <xsd:element name="stockLevel" type="xsd:int"/>
                    <xsd:element name="description" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="BookArray">
                <xsd:sequence>
                    <xsd:element name="book" type="tns:Book" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>

    <!-- Messages -->
    <message name="GetBookRequest">
        <part name="parameters" element="tns:GetBookRequest"/>
    </message>
    <message name="GetBookResponse">
        <part name="parameters" element="tns:GetBookResponse"/>
    </message>
    <message name="SearchBooksRequest">
        <part name="parameters" element="tns:SearchBooksRequest"/>
    </message>
    <message name="SearchBooksResponse">
        <part name="parameters" element="tns:SearchBooksResponse"/>
    </message>

    <!-- Port Type -->
    <portType name="CatalogPT">
        <operation name="getBook">
            <input message="tns:GetBookRequest"/>
            <output message="tns:GetBookResponse"/>
        </operation>
        <operation name="searchBooks">
            <input message="tns:SearchBooksRequest"/>
            <output message="tns:SearchBooksResponse"/>
        </operation>
    </portType>

    <!-- Partner Link Types -->
    <plnk:partnerLinkType name="CatalogPLT">
        <plnk:role name="CatalogProvider" portType="tns:CatalogPT"/>
    </plnk:partnerLinkType>

    <!-- Bindings -->
    <binding name="CatalogBinding" type="tns:CatalogPT">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getBook">
            <soap:operation soapAction="http://catalog.globalbooks.com/getBook"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="searchBooks">
            <soap:operation soapAction="http://catalog.globalbooks.com/searchBooks"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <!-- Service -->
    <service name="CatalogService">
        <port name="CatalogServicePort" binding="tns:CatalogBinding">
            <soap:address location="http://localhost:8080/catalog-service/CatalogService"/>
        </port>
    </service>
</definitions>